body{
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Spica Neue Light";


}

button{
    padding: 5px 20px;
    background-color: #337ab7;
    border-color: #2E6DA4;
    border-style: none;

}

input{
    height: 20px;
}
